/* Mobile */

@media only screen and (width <= 63.9375rem) {
  #navigation-bar {
    .desktop-navigation {
      display: none;
    }

    .mobile-nav-button {
      display: inline-block;
    }
  }
}

/* Desktop */
@media only screen and (width > 64rem) {
  #navigation-bar {
    .desktop-navigation {
      display: inline-block;
    }

    .mobile-nav-button {
      display: none;
    }
  }
}

#navigation-bar {
  background-color: var(--pri-50);

  .container {
    height: 6rem;
  }

  .logo {
    aspect-ratio: 4.196;
    height: 2rem;
    width: auto;
  }

  .right-side-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  button {
    border: none;
    background-color: transparent;
    border-radius: 4px;
  }

  .desktop-navigation {
    ul {
      display: flex;
      gap: 2rem;
    }

    .nav-link {
      font-size: var(--step-0);
      line-height: 1;
      width: auto;
      position: relative;
      transition: 0.3s;

      &:hover {
        color: var(--pri-200);

        &::before {
          width: 100%;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -0.125rem;
        width: 0;
        height: 2px;
        background-color: var(--pri-200);
        transition: ease-in-out 0.3s;
      }
    }
  }

  .action-buttons {
    display: flex;
    gap: 1rem;
  }

  .mobile-navigation {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pri-50);

    ul {
      padding: 1rem 0 2rem;
      display: grid;
      gap: 1rem;
    }

    li {
      text-align: center;
      font-size: var(--step-1);
    }

    a:active {
      color: var(--pri-300);
    }
  }
}
