---
import '../../styles/layout/cta.less';
---

<section id="cta">
  <div class="container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Get Our services</span>
        <h2 class="cs-title">Let’s Get Those Trees <br /> Cleaned up!</h2>
      </div>
      <div class="cs-button-box">
        <a href="" class="btn btn-primary">Get a quote</a>
        <a href="" class="btn btn-secondary">Contact Us</a>
      </div>
    </div>
  </div>
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2560&q=80"
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2560&q=80"
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2560&q=80"
      alt="mechanic"
      width="1280"
      height="568"
    />
  </picture>
</section>
