---
import '../../styles/layout/header.less';

const links = [
  {
    name: 'Home',
    href: '/',
  },
  {
    name: 'Services',
    href: '/services',
  },
  {
    name: 'About',
    href: '/about',
  },
  {
    name: 'Contact',
    href: '/contact',
  },
];
---

<header id="navigation-bar" x-data="{open: false}">
  <div class="container">
    <!-- Brand Logo -->
    <a href="/">
      <span class="sr-only">Oakheart Logo</span>
      <img
        class="logo"
        width="235"
        height="56"
        :src="$store.theme.isDark ? '/assets/logo-inverted.svg' : '/assets/logo.svg'"
      />
    </a>
    <div class="right-side-navigation">
      <!-- Desktop navigation -->
      <nav class="desktop-navigation">
        <ul>
          {
            links.map((link) => (
              <li>
                <a class="nav-link" href={link.href}>
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <!-- Action Buttons -->
      <div class="action-buttons">
        <button type="button" x-data @click="$store.theme.toggle()">
          <span class="sr-only">Toggle theme</span>
          <svg
            x-cloak
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon"
            :class="{'hidden': $store.theme.isDark}"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
            ></path>
          </svg>
          <svg
            x-cloak
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon"
            :class="{'hidden': !$store.theme.isDark}"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"
            ></path>
          </svg>
        </button>
        <button
          type="button"
          class="mobile-nav-button"
          @click="open = !open"
          @mousedown="if (open) $event.preventDefault()"
          @keyup.escape="open = false"
          aria-expanded="false"
          :aria-expanded="open.toString()"
          aria-controls="website-menu"
        >
          <span class="sr-only">Toggle mobile navigation</span>
          <svg
            x-cloak
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>

      <!-- Mobile Navigation -->
      <div
        x-cloak
        x-show="open"
        @click.outside="open = false"
        x-collapse
        x-collapse.duration.500ms
        class="mobile-navigation"
      >
        <nav>
          <ul>
            {
              links.map((link) => (
                <li>
                  <a class="nav-link" href={link.href}>
                    {link.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
