---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Home/Hero.astro';
import Services from '../components/Home/Services.astro';
import Cta from '../components/layout/Cta.astro';
import About from '../components/Home/About.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Services />
    <Cta />
    <About />
  </main>
</Layout>
