/* Mobile - 360px */
@media only screen and (width >= 0) {
  #about {
    padding: var(--section-padding);

    /* clips svg as the screen grows so it doesn't overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;

    .container {
      justify-content: space-evenly;
    }

    .about-content {
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-self: start;

      p {
        max-width: 55ch;
      }

      a {
        text-decoration: underline;

        &:hover {
          color: var(--pri-300);
        }
      }
    }

    .cs-image-group {
      width: (579/16em);
      height: 348px;

      /* sends it to the top of the flexbox */
      order: -1;
      position: relative;
    }

    .cs-picture {
      border-radius: 4px;

      /* clips the img tag corners */
      overflow: hidden;
      position: absolute;
      display: block;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    .cs-picture1 {
      position: relative;
      z-index: 2;
      width: (204/16em);
      height: (314/16em);
      top: 0;
      left: 6rem;
      border: 1rem solid white;
    }

    .cs-picture2 {
      width: (348/16em);
      height: (314/16em);
      top: 3rem;
      right: 0;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (width >= 64rem) {
  #about {
    .cs-content {
      width: 48%;
    }

    .cs-image-group {
      font-size: ~'min(1.15vw, 1em)';
      flex: none;

      /* sends it to the right in the 2nd position */
      order: 2;
    }
  }
}
