#services {
  padding: var(--section-padding);

  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;

    .service-intro {
      max-width: 70ch;
      text-transform: none;
      color: color-mix(in srgb, var(--txt-clr) 60%, transparent);
    }

    h2 {
      line-height: 110%;
      color: var(--pri-500);
    }

    p {
      color: var(--pri-300);
      text-transform: uppercase;
      letter-spacing: 0.0875rem;
    }
  }

  .service-card-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
  }

  .service-card {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    min-width: 20ch;
    max-width: 35ch;
    text-align: center;
    background-color: var(--pri-50);

    a {
      width: fit-content;
      color: var(--white);
      background-color: var(--pri-400);
    }
  }

  .service-card-heading {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .service-icon {
    width: 1.5rem;
    margin: 0.5rem;
    transform: rotate(-25deg);
    fill: var(--pri-500);
  }
}
